/*Styling and rules, that CSS contains, is applied to the whole project if not specified
otherwise. This means styling for body, p or headings stays the same throughout and does
not need to be repeated. */

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap');


/*@import url and @font face were used to transfer and use the chosen font for text
and headings. Google fonts were used to save storage for other content. Font-face 
sets the rules for the specific font's usage and how it should be labeled*/

header {
  padding: 8% 0% 6% 0%;

}
body, html {
    text-align: center;
    margin: 0;
    background-color: #171618;
}

/* Basic styling of header, body and html. Determines the sizing (padding) on the top
and bottom, how text is aligned and colour of the page's background. */

h1 {
    font-family: 'Finger Paint', cursive;
    font-weight: bold;
    font-size: 200%;
    color: #E2E4ED;
    margin: 3%;
  } 

  h2 {
    font-family: 'Finger Paint', cursive;
    font-weight: bold;
    font-size: 170%;
    color: #E2E4ED;
    margin: 0;
  }

  h3 {
    font-family: 'Finger Paint', cursive;
    font-weight: bold;
    font-size: 80%;
    color: #E2E4ED;
    margin: 0;
  }

  /*Basic styling for headings such as size, boldness, colour, font style and surrounding
  spacing*/

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  /*Links contain no decoration to avoid underlining or change of colour to blue. */

.Hallway {
  background-image: url("images/hallwayBig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

}

.Asylum {
  background-image: url("images/Asylum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Entrance {
  background-image: url("images/Entrance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Stairs {
  background-image: url("images/Stairs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Bathroom {
  background-image: url("images/Bathroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Ward {
  background-image: url("images/Ward.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.Girl1 {
  background-image: url("images/Girl1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.Girl2 {
  background-image: url("images/Girl2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.Window {
  background-image: url("images/Window.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.LastHallway {
  background-image: url("images/LastHallway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Doctor {
  background-image: url("images/Doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.LastDoor {
  background-image: url("images/LastDoor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.SplitBackground1 {

  background-image: url("images/Lighter.jpg"), url("images/Police.jpg");
  background-position: left, right;
  background-repeat: no-repeat, repeat;
  background-size: 50%;
  height: 100vh;

}

.BurningHouse {
  background-image: url("images/BurningHouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Forest {
  background-image: url("images/Forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 10px #646464;

}

.Brother {
  background-image: url("images/Brother.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Imprisoned {
    background-image: url("images/Imprisoned.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    box-shadow: 2px 2px 10px #646464;
  }

 /*All classes above contain link to locally stored background images, that are set
 as "cover" which allows them to spread all over the container. Position center helps
 to keep the background image centered even when resized. In some cases, image is positioned
 to the top to usually keep the person (girl, doctor) in the middle of the page without
 cutting their body off when resized. Width and height are kept at 100 to make the image responsive. "Forest" and "Imprisoned" image contain box shadow property to
 create a white glow bellow the picture.  */ 

.MainContent {
    position: relative;
    text-align: center;
}

/*Main content hold all body content inside such as text, images and links. */

.MainHeading {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Finger Paint', cursive;
        font-weight: bold;
        font-size: 600%;
        color: #E2E4ED;
        text-shadow: 2px 2px 10px #646464;
        margin: 1%;
      }

  /*Main heading is the heading on the home page. Position "absolute" allows this heading
  to be on top of background and with "translate, top, left" property to be positioned
  exactly where desired. */    

.StartButton {
        position: absolute;
        top: 57%;
        left: 49%;
        transform: translate(-50%, -50%);
        background-color: #E2E4ED;
        padding: 2% 5%;
        border-radius: 25px;
        opacity: 0.5;
        font-family: 'Finger Paint', cursive;
        font-size: 170%;
        color: #0035e1;
        margin: 2%;

}

.RegularButton {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;
}

.RegularButton2 {
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;

}

.RegularButton3 {
  position: absolute;
  top: 28%;
  left: 68%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;

}

.RegularButton4 {
  position: absolute;
  top: 32%;
  left: 23%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;

}

.RegularButton5 {
  position: absolute;
  top: 79%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;
  width: fit-content;
}

.RegularButton6 {
  position: absolute;
  top: 49%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;
  width: fit-content;
}

.RegularButton7 {
  position: absolute;
  top: 49%;
  left: 19%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;
}

.RegularButton8 {
  position: absolute;
  top: 42%;
  left: 19%;
  transform: translate(-50%, -50%);
  background-color: #0035e1;
  padding: 2% 4%;
  border-radius: 25px;
  opacity: 0.7;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #E2E4ED;
  margin: 2%;
  width: fit-content;
}

/*Buttons above specify clickable buttons that direct user to the next page after their
picked decision. They all have similar characteristics like padding, boder-radius which 
specify how round the button is, font style and colour. "Opacity" determines the transparency,
in this case most buttons are half transparent. 
Reason for creating so many regular buttons with same properties was to specify their 
different position on the webpage and to develop these pages accroding to the design. */

.MainPage {
  position: relative;
}

.ResultsButton {
  position: absolute;
  top: 191%;
  left: 45.5%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 3%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  margin: 2% 85% 2% 3%;
}

.GoBackButton2 {
  position: absolute;
  top: 195%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 1% 2%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
}

.ResultsButton2 {
  position: absolute;
  top: 240%;
  left: 45.5%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 2% 3%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  margin: 2% 85% 2% 3%;
}

.GoBackButton3 {
  position: absolute;
  top: 241%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 1% 2%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
}

/*These buttons were created as previously mentioned because of the same reason = create
different position for the button as necessary. */

.Speaker {
  position: absolute;
  top: 90%;
  left: 92%;
}

.BackpackImg {
  position: absolute;
  top: 10%;
  left: 92%;
  transform: translate(-50%, -50%);
  padding: 2% 0%;
}

.HomeButtonImg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*These images symbolize clickable icons. */

.SurvivalScore {
  position: absolute;
  top: 8%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  font-size: 180%;
  color: #E2E4ED;
}

.GoBackButton {
  position: absolute;
  top: 87%;
  left: 7%;
  transform: translate(-50%, -50%);
  background-color: #E2E4ED;
  padding: 1% 3%;
  border-radius: 25px;
  opacity: 0.5;
  font-family: 'Finger Paint', cursive;
  font-size: 140%;
  color: #0035e1;
  margin: 2%;
}

.Text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-size: 125%;
  color: #E2E4ED;
}

.TextItalic {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-style: italic;
  font-size: 125%;
  color: #E2E4ED;
}

.Text1 {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-size: 125%;
  color: #E2E4ED;
}

.Text2 {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-size: 125%;
  color: #E2E4ED;
}

.TextItalic1 {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-style: italic;
  font-size: 125%;
  color: #E2E4ED;
}

.Text3 {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fraunces', serif;
  font-size: 125%;
  color: #E2E4ED;
}

.TextDecision {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Finger Paint', cursive;
  font-size: 220%;
  color: #E2E4ED;
  margin: 2%;
}

.TextEnding {
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-family: 'Finger Paint', cursive;
  font-size: 240%;
  color: #E2E4ED;
  margin: 2%;
}

.TextExplanation {
  font-family: 'Fraunces', serif;
  font-size: 150%;
  color: #E2E4ED;
  padding: 3%;
  margin: 0% 13%;
}

.Italic {
  font-style: italic;
}

.TextExplanation p {
  padding: 1%;
}

/*Separate styling for many types of text was necessary. Some sentences were having
conversations or a thought process, that had to be distinguished from each other.
Some text includes "italic" styling or different sizes. Position "top, left" is also the
key to keep text flowing and seperated correctly to avoid overcrowding. */

footer {
  padding: 4%;
}

.firepit img {
  width: 25%;
}

.ImageColumn1 {
  float: left;
  width: 50%;
}

.ImageColumn1 h2 {
  position: absolute;
  top: 104%;
  left: 14%;
}

.ImageColumn2 h2 {
  position: absolute;
  top: 104%;
  left: 64%;
}

.ImageRow {
  content: "";
  display: inline;
  clear: both;
}

/* To move the image to the left and create a two-image background, it was necessary
to float first image to the left. Width of this column was set to 50%, which allows
content spread only to over 50% of the whole screen. "Left" property was also used 
to position each image correctly, one to the right side and one to the left side. "Display
inline" make the content sit next to each other.  */

/* POP UPS */
/*Pop-ups create a big part of this project. Each pop-up differs in its size,
position and their z-index. Z-index specifies the order in which layers are displayed.
The higher the number, the more on top the layer is. This was particularly useful in
determining which pop-up is more important, when more of them is open (homepage pop-up + 
investigation pop-up) or to move pop-ups above buttons to cover them when open.*/

.PopUpMenu {
  width: 19%;
  height: 5%;
  background-color: #E2E4ED;
  opacity: 1;
  border-radius: 25px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  padding: 8%;
  margin: -1% 0%;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 1;
}

.openPopUpMenu {
  visibility: visible;
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
}

.PopUpMenu p {
  position: absolute; 
  top: 20%;
  left: 50%;
  font-family: 'Fraunces', serif;
  color: #171618;
  font-size: 160%;
  transform: translate(-50%, -50%);
}

.HomeYes {
  position: absolute; 
  top: 85%;
  left: 25.2%;
  background-color: #E2E4ED;
  padding: 5% 21.5%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px grey;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.HomeCancel {
  position: absolute; 
  top: 85%;
  left: 75.8%;
  background-color: #E2E4ED;
  padding: 5% 17%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px grey;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%);
}

/*Transition property allows the content to be animated. In this case, pop-up is having
"visibility: hidden", but once user taps on it, pop-up appears in 0.4seconds, opens
itself from the top. Scale element causes the pop-up to grow in size from half (0.5)
to full (1). Pop-up stays visible until users taps on one of the buttons inside of it.
Width with "Fit-content" allows the button to wrap around the text without taking the
maximum width.*/

.InvestigatePopup {
  width: 30%;
  height: 70%;
  background-color: #E2E4ED;
  opacity: 1;
  border-radius: 25px;
  position: absolute;
  top: 80%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0.5);
  padding: 4%;
  margin: 0% -1%;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.openInvestigatePopup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}


.InvestigatePopup img {
  justify-content: center;
  width: 18vw;
  padding: 0 0 5% 0;
}

.InvestigateCancel {
  position: absolute; 
  top: 94.2%;
  left: 74.8%;
  background-color: #E2E4ED;
  padding: 4% 18.5%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px grey;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.InvestigateTake {
  position: absolute; 
  top: 94.2%;
  left: 24.5%;
  background-color: #E2E4ED;
  padding: 4% 10.5%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px grey;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.InvestigateNext {
  position: absolute; 
  top: 94.2%;
  left: 24.3%;
  background-color: #E2E4ED;
  padding: 4% 13%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px grey;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.BackpackPopup {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  border-radius: 25px;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.openBackpackPopup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.Icons img {
  width: 5em;
}

.Icons {
  float: left;
  margin: 1%;
  padding: 1% 3%;
  background-color: #E2E4ED;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #767676;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
}

.BckgBackpack img{
opacity: 0.5;
width: 25em;
position: absolute;
top: 25%;
left: 33%;
}

.CloseBackpack {
  position: absolute; 
  top: 80%;
  left: 48%;
  background-color: #E2E4ED;
  padding: 2% 3%;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #767676;
  opacity: 0.9;
  font-family: 'Finger Paint', cursive;
  font-size: 120%;
  color: #0035e1;
  width: fit-content;
  transform: translate(-50%, -50%) 
}

/*All pop-ups are designed similarly. Icons illustrating items in the backpack inventory
were designed to have same image size "width: 5em" and "float: left" to make icons 
appears nicely next to each other with spacing of "margin: 1%" */

@media only screen and (max-width: 950px) {


.ResultsButton {
  top: 170%;
  left: 45.5%;
  font-size: 95%;
}

.GoBackButton2 {
  top: 171%;
  left: 10%;
  font-size: 95%;
}

.ResultsButton2 {
  top: 195%;
  left: 45.5%;
  font-size: 95%;
}

.GoBackButton3 {
  top: 196%;
  left: 10%;
  font-size: 95%;
}

.GoBackButton {
  top: 87%;
  left: 12%;
  font-size: 95%;

}

.RegularButton5 {
  top: 79%;
  left: 80%;
}

.RegularButton8 {
  top: 42%;
  left: 30%;
}

.RegularButton7 {
  top: 49%;
  left: 30%;
}

.RegularButton, .RegularButton2, .RegularButton3, .RegularButton4, .RegularButton5, .RegularButton6, .RegularButton7, .RegularButton8 {
 font-size: 95%;
}

.Text {
  font-size: 90%;
}

.TextItalic {
  font-size: 90%;
  left: 52%;
}

.Text1 {
  top: 80%;
  font-size: 90%;
}

.Text2 {
  top: 60%;
  font-size: 90%;
}

.TextItalic1 {
  font-size: 90%;
  top: 73.5%;
}

.Text3 {
  top: 69%;
  font-size: 90%;
}

.TextDecision {
  top: 86%;
  font-size: 160%;
}

.TextEnding {
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-family: 'Finger Paint', cursive;
  font-size: 240%;
  color: #E2E4ED;
  margin: 2%;
}

.TextExplanation {
  font-size: 100%;
}

.HomeButtonImg {
  top: 10%;
  left: 15%;
}

.SurvivalScore {
  top: 9%;
  left: 53%;
  font-size: 120%;
}

.Speaker {
  top: 88%;
  left: 86%;
}

.BackpackImg {
  top: 10%;
  left: 89%;
}

.InvestigatePopup {
  width: 50%;
  height: 68%;
}

.InvestigateCancel {
  top: 95.2%;
  left: 78.8%;
  padding: 4% 10.5%;
  font-size: 80%;
  
}

.InvestigateTake {
  top: 95.2%;
  left: 27.5%;
  padding: 4% 4.5%;
  font-size: 80%;

}

.InvestigateNext {
  top: 95.2%;
  left: 27.3%;
  padding: 4% 10%;
  font-size: 80%;
}

.InvestigatePopup img {
  width: 50%;
 }

 .PopUpMenu {
  width: 42%;
  height: 15%;
  font-size: 70%;
}

}

@media only screen and (max-width: 600px) {
  .ResultsButton {
    top: 175%;
    left: 45.5%;
  }
  
  .GoBackButton2 {
    top: 176%;
    left: 15%;
  }
  
  .ResultsButton2 {
    top: 209%;
    left: 45.5%;
  }
  
  .GoBackButton3 {
    top: 210%;
    left: 15%;
  }

  .RegularButton5 {
    top: 79%;
    left: 79%;
  }

  .InvestigatePopup img {
    width: 80%;
   }

   .PopUpMenu {
    width: 70%;
    height: 15%;
    font-size: 65%;
  }

}
