@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Angelina;
  src: url("fonts/angelina.ttf");
}

/*@import url and @font face are fonts, that have been used for this project.
 *font 'Gothic A1' from @import url is shared as a link from Google fonts to save storage
 for other content.
 @font-face has been downloaded and is shared from internal storage.*/

 body {
   margin: 0px;
   padding: 0px;
   text-align: center;
 }

 p {
   color: #7f1c45;
   font-family: 'Gothic A1', sans-serif;
   padding: 2% 15%;
 }

 /*Body of all pages have margin and padding 0px to allow content spread to all edges.
 "p" elements symbolizes all text on pages. It has basic styling and padding of
 2% (top and bottom) and 15% (left and right) to create slight spacing from sides.
 Most values throughout the css will contain % at the end rather than px. This is
 for having content responsible as the content's size changes.*/

h1 {
  font-size: 140%;
  color: #7f1c45;
  font-weight: 600;
}

h2 {
  font-size: 130%;
  color: #F4DCF2;
  font-weight: 500;
}

h1, h2 {
  font-family: 'Gothic A1', sans-serif;
}

/*Basic styling of headings like boldness "font-weight", size, font style and color.
Used colors has been picked already for Coursework 1 and have been shared.*/

img {
  width: 100%;
  padding: 0% 0% 4% 0%;
}

.mediumSize {
  width: 80%;
}

.smallSize {
  width: 50%;
}

.social {
  width: 40px;
}

.social2 {
  width: 47px;
}

/*Size styling of images across pages. All images has full width, except those with class
medium and small. "social" class refers to social media icons in the footer. */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: #7f1c45;
}

a:visited {
  text-decoration: none;
  color: #F4DCF2;
}

a:hover {
  color: #F4DCF2;
}

a:active {
  color: #7f1c45;
}

nav {
  text-align: inherit;
}

ul{
  margin: 0%;
  padding: 0%;
}

.logo {
 font-family: Angelina;
 position: fixed;
 left: 5%;
 top: 2%;
 list-style-type: none;
 text-decoration: none;
 color: #7f1c45;
}

.menuItem {
  font-family: 'Gothic A1', sans-serif;
  padding: 2% 7%;
  text-decoration: none;
  background-color: #F4DCF2;
  color: #7f1c45;
  box-shadow: 2px 2px 10px grey;
  font-weight: 400;
}

.menuItem:hover {
  background-color: #7f1c45;
  color: #F4DCF2;
  transition-duration: 0.5s;
  font-size: 120%;
}

ul li {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

.menuCart {
    position: fixed;
    padding: 2% 3%;
    border: none;
    top: -2%;
    left: 87%;
    width: 80px;
    object-fit: cover;
  }

/*Properties above are styled mainly for the navigation bar. Color and styling
of links "a" had to be done to avoid classic blue look. Style of unordered list "ul"
was set up as none to get rid of dots and inline-block display to put list's
items "li" into the line from left to right. "menuItems" are headings in the menu,
which change its background's and text's colors on hover. Grey shadow was also created on
the edges of buttons. Padding size creates the "button look".
"Logo" property is styled with different font and has no background. This results in
transparency as well as with "menuCart", which is an cart icon on the right top side.
Lastly, sticky class was styled with "fixed position" to make navigation bar stick
to the top even on scroll and has width of 100%.*/

.dropbutton {
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0%;
  top: 103%;
  padding: 7% 30%;
  color: #F4DCF2;
  background-color: #7f1c45;
  box-shadow: 2px 2px 10px grey;
}

.dropdown-content a {
  color: #F4DCF2;
  background-color: #7f1c45;
  text-decoration: none;
  display: block;
  padding: 10%;
  text-align: center;
}

.dropdown-content:hover {
  cursor: pointer;
  font-size: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Styling of the section above is for the dropdown menu items after hovering
over "SHOP" heading. In order to hide it when user is not hovering over,
it's display property is set to "none." It has some color styling.
Position "relative" to make SHOP item appear in the line with other menu items
and position "absolute" to move sub menu items exactly underneath the main
menu item SHOP with help of left and top position elements.
Hovering over changes mouse cursor to pointer.*/


.slideshow {
  width: 55%;
  position: static;
  margin: 10% 23% 0% 23%;
}

.mySlides {
  display: none;
}

.prevButton, .nextButton {
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 50%;
  padding: 15px;
  margin-top: -22px;
  color: #7f1c45;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.6s;
}

.nextButton {
  right: 10%;
}

.prevButton {
  left: 10%;
}

.prevButton:hover, .nextButton:hover {
  background-color: #F4DCF2;
  color: #7f1c45;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #7f1c45;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F4DCF2;
}

/*Attributes above provide detailed styling of image gallery for Macarons and
Baby Pink Power html pages. Slideshow has size of 55% and margin around size and top.
Images "mySlides" are hidden "display:none" and only revealed when they are active. Buttons
have certain position and color. When user hovers over buttons, pink background
appears "transition". Dots are styled similar way, where they have specific size and its
color changes on hover. */

.macaronsBackground {
  padding: 4%;
  margin: 6% 0%;
  background-color: #F4DCF2;
  box-shadow: 2px 2px 10px grey;
}

/*Styling of background behind certain sections to create interesting pink blocks
with shadow around them. */

.cart {
  background-color: #7f1c45;
  color: #F4DCF2;
  padding: 0% 4%;
  cursor: pointer;
  text-align:center;
}

/*"cart" class is for "ADD TO CART" and similar buttons to style.*/

.details {
  background-color: #7f1c45;
  padding: 1% 2%;
  cursor: pointer;
  box-shadow: 2px 2px 10px grey;
}

.moreDetails {
  margin: 1% 10%;
  padding: 1% 0%;
  background-color: #F4DCF2;
  box-shadow: 2px 2px 10px grey;
  display: none;
}

/*"details" - styling of "VIEW DETAILS" tab, which on click reveals block
of content "moreDetails". */

.aboutSpace {
  padding: 13% 10% 0% 10%;
}

.mainSpacing {
  padding: 0% 10% 6% 10%;
}

/*Some added spacing containers between content.*/

footer {
  padding: 2%;
}

.footer p {
padding: 0%;
}

.logoF {
   font-family: Angelina;
   padding: 0%;
   list-style-type: none;
   text-decoration: none;
   color: #7f1c45;
}
/*Spacing of footer section and text inside the footer.*/

input {
  padding: 1%;
  margin: 1%;
}

.website-form {
  font-family: 'Gothic A1', sans-serif;
  color: #7f1c45;
  text-align:center;
}

.address p {
  padding: 0%;
}

/*Review's form on the last page needed some space editing and addition of basic style,
that is consistent throughout whole website like font and text. */

.secMenu {
  display: none;
}

/*Second, "hamburger" menu is not visible "display:none" when website has big resolution.*/

@media screen and (max-width: 1000px) {
/*This command allows content to change in any way it is programmed if the resolution
is less then 1000px. This is ideal for making content responsible especially for
small screens like mobiles, tablets and many more. */

  .firstMenu {
    display:none;
  }

/* Main menu is hidden when resolution is small. */

  .secMenu {
    display: block;
    position: absolute;
    left: 1%;
    top: 5%;
  }

  div.logo {
    list-style-type: none;
    display: inline-block;
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 2% 46%;
    background-color: #F4DCF2;
    box-shadow: 2px 2px 10px grey;
  }

  .sideMenu  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0%;
    background-color: #7f1c45;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sideMenu a {
    padding: 12% 5% 3% 0%;
    text-decoration: none;
    font-size: 100%;
    color: #F4DCF2;
    display: block;
    transition: 0.3s;
    font-family: 'Gothic A1', sans-serif;
  }

  .sideMenu a:hover {
    color: #f1f1f1;
  }

  .sideMenu .closeButton {
    position: absolute;
    top: 0%;
    right: 8%;
    font-size: 100%;
  }

  .openButton {
    position: fixed;
    top: 0%;
    font-size: 150%;
    cursor: pointer;
    color: #7f1c45;
    padding: 2% 3%;
    border: none;
    background-color: #F4DCF2;
  }
.navIcon {
    position: fixed;
    padding: 2% 3%;
    border: none;
    top: 0%;
    left: 87%;
    width: 60px;
    object-fit: cover;
  }

/*Elements above are for hamburger menu styling. "secMenu" is made visible by "display:block".
Navbar for the menu is created of "div.logo", which makes thick line at
the top "position:fixed", has pink background color and creates shadow.
On top of this div sits "openButton", which opens on click and reveals "sideMenu" by
transition. Z-index stacks the element in front of content, which makes side menu content
appear on top of the hamburger icon. X-overflow attribute clips the side menu to the top.
Side menu is closed by X button "closeButton". Items on hover change slightly its color
to white. Navbar also contain "navIcon", which is the basket icon and is positioned
on the opposite side "left" of the hamburger menu. It has again, "position:fixed" to
stick to the top as user scrolls down. */

.nextButton, .prevButton {
  position: static;
  top:50%;
}


@media screen and (max-width: 600px) {
  .navIcon {
      left: 85%;
      width: 50px;
    }
}
/*Basket icon is moved slightly to left and size gets smaller,
when resolution has width of 600px. */
